---
layout: default
---
{% for image in site.static_files %}
    {% if image.path contains 'assets/images' %}
        {% if image.basename contains 'profile' %}
            <div class="profile-header">
                <img src="{{image.path}}" class="profile-image" />
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

<div class="cv">
    <div style="width: 100%; overflow: hidden;">
        
        <div style="display: flex-wrap;">
            <div style="max-width: 500px; float: left; margin: 5px"> 
                <h2 class="close-header">{{site.author}}</h2>
                <h3>{{page.job_title}}</h3>
                <p>{{page.introduction}}</p>
            </div>
            <div style="padding: 5px;" align="right"> 
                <p><a class="inherits_color" href="mailto:{{site.email}}">{{site.email}}&nbsp;&nbsp;<i class='fa fa-envelope'></i></a></p>
                <p>{{site.phone}}&nbsp;&nbsp;<i class="fa-solid fa-phone"></i></p>
                <p>{{site.location}}&nbsp;&nbsp;<i class="fa-solid fa-location-dot"></i></p>
                <p><a class="inherits_color" href="{{site.url}}">{{site.domain}}&nbsp;&nbsp;<i class="fa-solid fa-globe"></i></a></p>
                <p><a class="inherits_color" href="https://www.linkedin.com/in/{{site.linkedin_username}}">linkedin.com/in/{{site.linkedin_username}}&nbsp;&nbsp;<i class="fa-brands fa-linkedin-in"></i></a></p>
            </div>
        </div>
    </div>
</div>

</br>
<hr />
</br>
<h2>Education</h2>

{% for entry in site.cv reversed %}
    {% if entry.path contains 'education' %}
    <h3 class="close-header">{{entry.title}}</h3>
    <p class="close-header">{{entry.location}}</p>
    <sup>{{entry.start_date}} - {{entry.end_date}}</sup>
    {{entry.content}}
    {% endif %}
{% endfor %}

</br>
<hr />
</br>
<h2>Work Experience</h2>

{% for entry in site.cv reversed %}
    {% if entry.path contains 'work' %}
        <h3 class="close-header">{{entry.title}}</h3>
        <p class="close-header">{{entry.location}}</p>
        <sup>{{entry.start_date}} - {{entry.end_date}}</sup>
        {{entry.content}}
    {% endif %}
{% endfor %}

</br>
<hr />
</br>
<h2>Volunteering</h2>

{% for entry in site.cv reversed %}
    {% if entry.path contains 'volunteer' %}
        <h3 class="close-header">{{entry.title}}</h3>
        <p class="close-header">{{entry.location}}</p>
        <sup>{{entry.start_date}} - {{entry.end_date}}</sup>
        {{entry.content}}
    {% endif %}
{% endfor %}

</br>
<hr />
</br>
<h2>Programming Tools</h2>

<div>
    {% for tool in page.programming_tools %}
        <div class="skill-box">{{tool}}</div>
    {% endfor %}
</div>

</br>
</br>
<hr />
</br>
<h2>Languages</h2>

<div style="width: 50%; float: left;" align="center"> 
    <p class="close-header">English</p>
    <sup>Native</sup>
</div>
<div style="margin-left: 50%;"  align="center"> 
    <p class="close-header">Japanese</p>
    <sup>Limited Working Proficiency</sup>
</div>

</br>
<hr />
</br>
<p><i>I have chosen to omit references from this rendition of my curriculum vitae to ensure my references are not unduly contacted. I will gladly provide references to recruiters or potential employers upon request.</i></p>

